.art-info-bar .art-lang-skills .art-lang-skills-item .art-cirkle-progress .progressbar-text::after 
{
    content: '%';
    position: absolute;
    right: -12px;
}

.art-info-bar .art-lang-skills .art-lang-skills-item .art-cirkle-progress .progressbar-text{margin: 0 -3px !important;}

.edusymbole{ content: "\f0ea"; font-family: FontAwesome;}